<ion-item tappable
  [ngSwitch]="itemType"
  (click)="manage(item)">

  <ng-container *ngSwitchCase="'cube'">
    <h2>{{(item | async)?.name}}</h2>
  </ng-container>

  <ng-container *ngSwitchCase="'deck'">
    <h2>{{(item | async)?.name}}</h2>
  </ng-container>

</ion-item>
