<ion-content padding>
  <ion-list>
    <form [formGroup]="loginForm">
      <ion-item>
        <ion-label floating>Email Address</ion-label>
        <ion-input #email type="email" formControlName="email"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>Password</ion-label>
        <ion-input #password type="password" formControlName="password"></ion-input>
      </ion-item>
    </form>

    <button ion-button large round full color="primary"
      (click)="signIn(email.value, password.value)"
      [disabled]="loginForm.invalid"
    >Sign In</button>

    <button ion-button large round full color="primary"
      (click)="goToCreateAccount()"
    >Create New Account</button>
  </ion-list>
</ion-content>
