<ion-header>
  <ion-navbar>
    <ion-title>
      Register
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <form [formGroup]="signupForm">

      <ion-item>
        <ion-label floating color="canvas-dark">Email Address</ion-label>
        <ion-input type="email"
                    formControlName="email"
        ></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating color="canvas-dark">Username</ion-label>
        <ion-input type="text"
                    formControlName="username"
        ></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating color="canvas-dark">Password</ion-label>
        <ion-input type="password"
                    formControlName="password"
        ></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating color="canvas-dark">Confirm Password</ion-label>
        <ion-input type="password"
                    formControlName="confirm"
                    validateEqual="password"
        ></ion-input>
      </ion-item>

    </form>

    <button ion-button large round full
      (click)="createAccount(signupForm.value)"
      [disabled]="signupForm.invalid"
    >Create Account</button>

  </ion-list>
</ion-content>
