<ion-tabs class="dark-tabs">
  <ion-tab [root]="tab1Root" tabTitle="Draft" tabIcon="play"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="Search" tabIcon="search"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="My Library" tabIcon="albums"></ion-tab>
</ion-tabs>
