<ion-header>
  <ion-navbar>
    <ion-title>
      Drafts in Progress
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <!-- TODO: Show Draft Name Here -->
    <ion-item
      *ngFor="let draft of myDrafts | async"
      (click)="viewDraft(draft.key)"
    >{{draft.key}}</ion-item>
  </ion-list>
</ion-content>
