<ion-header>
  <ion-navbar>
    <ion-title>
      {{draftName | async}}
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>

    <ion-item>
      Cards Drafted: {{(myDeck | async)?.length}}
    </ion-item>

    <ng-container *ngFor="let pack of myQueue | async">
      <md-pack-list-item
        [disable]="waiting"
        [draftId]="draftId"
        [packId]="pack.key"
        (draftCard)="pickCard($event)"
      ></md-pack-list-item>
    </ng-container>

  </ion-list>
</ion-content>
