<ion-header>
  <ion-navbar>
    <ion-title>
      Magic Drafts
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item>
      <button ion-button large block color="primary"
        [disabled]="(myCubes | async)?.length === 0"
        (click)="startCubeDraft()">
        <ion-icon name="cube"></ion-icon>
        &nbsp; Start New Draft
      </button>
    </ion-item>
    <ion-item>
      <button ion-button large block color="primary"
        [disabled]="(myDrafts | async)?.length === 0"
        (click)="viewExistingDrafts()">
        <ion-icon name="play"></ion-icon>
        &nbsp; View Existing Drafts
      </button>
    </ion-item>
    <ion-item>
      <button ion-button large block color="primary"
        [disabled]="true"
        (click)="viewPastDrafts()">
        <ion-icon name="time"></ion-icon>
        &nbsp; View Past Drafts (NYI)
      </button>
    </ion-item>
    <ion-item>
      <button ion-button large block color="primary" (click)="createNewCube()">
        <ion-icon name="add-circle"></ion-icon>
        &nbsp; Create New Cube
      </button>
    </ion-item>
  </ion-list>
</ion-content>
