<ion-header>
  <ion-navbar>
    <ion-title>
      {{(deck | async)?.name}}
    </ion-title>

    <ion-buttons right>
      <button ion-button icon-only (click)="manageDeck()">
        <ion-icon name="settings"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>

    <!-- FIXME: Only shows once -->
    <ion-item-divider
      color="light"
      [ngSwitch]="showMainboard"
      (click)="showMainboard = !showMainboard">
      Mainboard ({{(mainboard | async)?.length}})
      <ion-icon item-right
                name="arrow-dropleft-circle"
                *ngSwitchDefault
                color="canvas-dark"
      ></ion-icon>
      <ion-icon item-right
                name="arrow-dropdown-circle"
                *ngSwitchCase="true"
                color="canvas-dark"
      ></ion-icon>
    </ion-item-divider>

    <ng-container *ngIf="showMainboard">
      <md-card-list-item
        *ngFor="let card of mainboard | async"
        [cardId]="card"
        [context]="'mainboard'"
        (moveDown)="doSideboard($event)"
      ></md-card-list-item>
    </ng-container>

    <ion-item-divider
      color="light"
      [ngSwitch]="showSideboard"
      (click)="showSideboard = !showSideboard">
      Sideboard ({{(sideboard | async)?.length}})
      <ion-icon item-right
                name="arrow-dropleft-circle"
                *ngSwitchDefault
                color="canvas-dark"
      ></ion-icon>
      <ion-icon item-right
                name="arrow-dropdown-circle"
                *ngSwitchCase="true"
                color="canvas-dark"
      ></ion-icon>
    </ion-item-divider>

    <ng-container *ngIf="showSideboard">
      <md-card-list-item
        *ngFor="let card of sideboard | async"
        [cardId]="card"
        [context]="'sideboard'"
        (moveUp)="doMainboard($event)"
      ></md-card-list-item>
    </ng-container>

    <ion-item-divider
      color="light"
      [ngSwitch]="showDecklist"
      (click)="showDecklist = !showDecklist">
      Decklist ({{(decklist | async)?.length}})
      <ion-icon item-right
                name="arrow-dropleft-circle"
                *ngSwitchDefault
                color="canvas-dark"
      ></ion-icon>
      <ion-icon item-right
                name="arrow-dropdown-circle"
                *ngSwitchCase="true"
                color="canvas-dark"
      ></ion-icon>
    </ion-item-divider>

    <ng-container *ngIf="showDecklist">
      <md-card-list-item
        *ngFor="let card of decklist | async"
        [cardId]="card"
        [context]="'decklist'"
        (moveUp)="doMainboard($event)"
        (moveDown)="doSideboard($event)"
      ></md-card-list-item>
    </ng-container>

  </ion-list>
</ion-content>
