<ng-container [ngSwitch]="((packCards | async)?.length + (draftedCards | async)?.length) % 15 === 0">
  <ng-container *ngSwitchCase="false">
    <ion-item>
      Queued Pack ({{(packCards | async)?.length}} Cards)
    </ion-item>
  </ng-container>

  <ng-container *ngSwitchCase="true">
    <md-card-list-item
      *ngFor="let card of packCards | async"
      [cardId]="card.key"
      [context]="'search'"
      [disable]="disable"
      (addCard)="addCard($event)"
    ></md-card-list-item>
  </ng-container>
</ng-container>
