<ion-header>
  <ion-navbar>
    <ion-title>
      My Library
    </ion-title>

    <ion-buttons right>
      <button ion-button icon-only (click)="mySettings()">
        <ion-icon name="settings"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>

  <ion-item-group [ngSwitch]="(cubes$ | async)?.length">
    <ion-item-divider color="light">
      <ion-icon name="cube" item-start></ion-icon>
      Cubes
    </ion-item-divider>

    <ng-container *ngSwitchCase="0">
      <ion-item>You haven't created any cubes yet!</ion-item>
    </ng-container>

    <ng-container *ngSwitchDefault>
      <md-personal-item
        *ngFor="let cube of cubes$ | async"
        [itemId]="cube.key"
        [itemType]="'cube'"
      ></md-personal-item>
    </ng-container>

  </ion-item-group>

  <ion-item-group [ngSwitch]="(decks$ | async)?.length">
    <ion-item-divider color="light">
      <ion-icon name="albums" item-start></ion-icon>
        Decks
      </ion-item-divider>

    <ng-container *ngSwitchCase="0">
      <ion-item>You haven't created any decks yet!</ion-item>
    </ng-container>

    <ng-container *ngSwitchDefault>
      <md-personal-item
        *ngFor="let deck of decks$ | async"
        [itemId]="deck.key"
        [itemType]="'deck'"
      ></md-personal-item>
    </ng-container>

  </ion-item-group>

</ion-content>
