<ion-header>
  <ion-navbar>
    <ion-title>
      {{(user | async)?.username}}'s Settings
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <ion-item (click)="changeName()" tappable>
    <ion-icon name="create" item-start></ion-icon>
    Change Username
  </ion-item>

  <ion-item (click)="signOut()" tappable>
    <ion-icon name="exit" item-start></ion-icon>
    Sign Out
  </ion-item>

</ion-content>
