<ion-header>
  <ion-toolbar>
    <ion-title text-uppercase>
      Invite&nbsp;
        <span *ngIf="maxSelected < 999">{{maxSelected}}&nbsp;</span>
      Player<span *ngIf="maxSelected > 1">s</span>
    </ion-title>
    <ion-buttons left>
      <button ion-button icon-only navPop>
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons right>
      <button ion-button
              icon-left
              color="light"
              (click)="viewCtrl.dismiss(selectedUsers)">
        <ion-icon name="checkmark" color="primary-hi"></ion-icon>
        SAVE ({{selectedUsers.length || 0}})
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ng-container *ngFor="let user of users | async">
      <md-user-list-item
        *ngIf="user.key !== currentUser"
        [userId]="user.key"
        [canSelect]="selectedUsers.length === maxSelected"
        [selected]="preselected(user.key)"
        [context]="'select'"
        (selectUser)="selectUser($event)"
      ></md-user-list-item>
    </ng-container>
  </ion-list>
</ion-content>
