<ion-item>
  <ion-avatar item-left>
    <img [src]="user?.avatar"
         onerror="this.src = 'assets/imgs/person-placeholder.png'">
  </ion-avatar>
  <ion-label>
    <h1>{{(user | async)?.username}}</h1>
  </ion-label>
  <ion-checkbox
    *ngIf="context === 'select'"
    item-right
    color="primary-hi"
    [disabled]="canSelect && !selected"
    [(ngModel)]="selected"
    (ionChange)="selectUser.emit({ userId: userId, selected: selected })"
  ></ion-checkbox>
</ion-item>
