// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";


// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;

@import "ionic.globals";

$colors: (
  primary:    #006f83,
  primary-hi: lighten(#006F83, 10%),
  light:     #d6d6d6,
  light-hi:   lighten(#d6d6d6, 35%),
  light-lo:   darken(#d6d6d6, 25%),
  dark: #333333,
  dark-hi: lighten(#333333, 15%),
  canvas:    rgb(189, 166, 153),
  canvas-lo:  darken(rgb(189, 166, 153), 25%),
  canvas-dark:      rgb(99, 83, 74),
  danger:     #f53d3d
);

@mixin content-bg-gradient {
  background-image: linear-gradient(
    135deg,
    map_get($colors, dark-hi),
    map_get($colors, light-lo)
  );
  background-size: 200% 200%;
}

//Label Colors
$label-md-text-color: map_get($colors, light);
$label-md-text-color-focused: map_get($colors, light);

//Toolbar Colors
$toolbar-md-title-text-color: map_get($colors, light-hi);

//Tab Colors
$tabs-md-tab-text-color: map_get($colors, primary-hi);
$tabs-md-tab-text-color-active: map_get($colors, primary-hi);
$tabs-md-tab-icon-color: map_get($colors, primary-hi);
$tabs-md-tab-icon-color-active: map_get($colors, primary-hi);

//Button Colors
$button-md-background-color: map_get($colors, canvas-lo);
$button-md-text-color: map_get($colors, light);

@import "ionic.theme.default";
@import "ionic.ionicons";

//Fonts
@import "roboto";
@import "noto-sans";

.tabs.dark-tabs .tabbar {
  background-color: map_get($colors, dark);
}
