<ion-header>
  <ion-toolbar>
    <ion-buttons left>
      <button ion-button icon-only navPop>
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>
      Card Details
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <span>{{card?.name}}</span>
    <span *ngFor="let symbol of card?.manaCost | mana">
      <img src="{{symbol | symbol}}">
    </span>
  </ion-item>
  <ion-item>{{card?.type}}</ion-item>
  <ion-item text-wrap>{{card?.text}}</ion-item>
</ion-content>

<ion-footer *ngIf="card?.power">
  <ion-toolbar>
    <div class="item row">

      <span style="text-align:right" class="col col-90"></span>

      <span style="text-align:right" class="col col-10">
        <h2>{{card?.power}}/{{card?.toughness}}</h2>
      </span>

    </div>
  </ion-toolbar>
</ion-footer>
