<ion-header>
  <ion-navbar>
    <ion-title>
      {{cube?.name}} Settings
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>

    <ion-item (click)="manageCollaborators()" tappable>
      <ion-icon name="people" item-start></ion-icon>
      Manage Collaborators
    </ion-item>

    <ion-item class="subdued">
      <ion-icon name="download" item-start></ion-icon>
      Export Cube (NYI)
    </ion-item>

    <ion-item class="subdued">
      <ion-icon name="cloud-upload" item-start></ion-icon>
      Import Assist (NYI)
    </ion-item>

  </ion-list>
</ion-content>
