<ion-header>
  <ion-navbar>
    <ion-title>
      {{cube?.name}} ({{cards?.length || 0}} Cards)
    </ion-title>
    <ion-buttons right>
      <button ion-button icon-only (click)="manageCube()">
        <ion-icon name="settings"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <md-card-list-item
      *ngFor="let card of cards"
      [cardId]="card"
      [context]="'cubelist'"
      (moveUp)="moveUp($event)"
      (moveDown)="moveDown($event)"
      (removeCard)="removeCard($event)"
    ></md-card-list-item>
  </ion-list>
</ion-content>
