<ion-header>
  <ion-navbar>
    <ion-title>
      Search Cards
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-searchbar
      [(ngModel)]="searchText"
      (ionInput)="doSearch($event)"
    ></ion-searchbar>

    <ng-container *ngFor="let page of pages">
      <md-card-list-item
        *ngFor="let card of page"
        [cardId]="card.key"
        [context]="'search'"
        (addCard)="addCardToCube(card)"
      ></md-card-list-item>
    </ng-container>

    <ion-infinite-scroll
      (ionInfinite)="doInfinite($event)"
      [enabled]="isMorePages"
      [threshold]="'35%'"
    ><ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>

  </ion-list>
</ion-content>
