<ion-item>
  <span>{{card?.name}}</span>
  <span *ngFor="let symbol of card?.manaCost | mana">
    <img src="{{symbol | symbol}}">
  </span>

  <button ion-button clear icon-only item-right
    [disabled]="disable"
    (click)="viewDetails()">
    <ion-icon color="primary" name="search"></ion-icon>
  </button>

  <button ion-button clear icon-only item-right
    *ngIf="context === 'search'"
    [disabled]="disable"
    (click)="addCard.emit(cardId)">
    <ion-icon color="primary" name="add"></ion-icon>
  </button>

  <button ion-button clear icon-only item-right
    (click)="moveUp.emit(cardId)"
    *ngIf="context === 'decklist' || context === 'sideboard'"
    ><ion-icon color="primary" name="arrow-round-up"></ion-icon>
  </button>

  <button ion-button clear icon-only item-right
    (click)="moveDown.emit(cardId)"
    *ngIf="context === 'decklist' || context === 'mainboard'"
    ><ion-icon color="primary" name="arrow-round-down"></ion-icon>
  </button>

  <button ion-button clear icon-only item-right
    (click)="removeCard.emit(cardId)"
    *ngIf="context === 'cubelist'"
    ><ion-icon color="primary" name="remove-circle"></ion-icon>
  </button>

</ion-item>
